
  .container{
    width: 70% !important
  }


 
div.mat-slider-thump-label{
    width: 500px;
}   
 
.example-form {
   
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }
 

 
.detail{
    padding-top: 20px;
}
.example-button-row button,.example-button-row a {
    margin-right: 8px;
    width: 100%;
  }
  