 
 <div class="container">
    <h1>You quote</h1>
    <div class="row row-padding">
        <div class="col-md-6">
            <b>You information</b>
        </div>
        <div class="col-md-6 text-right">
            <a routerLink="/detail">Edit</a>
        </div>
    </div>
    <div class="row row-padding-md">
        <div class="col-md-6 text-padding">
            Name
        </div>
        <div class="col-md-6  text-right">
            Wagtest Wagtest
        </div>
    </div>
    <div class="row row-padding-md">
        <div class="col-md-6">
            Mobile
        </div>
        <div class="col-md-6 text-right">
            0477095252
        </div>
    </div>
    <div class="row  row-padding-md">
        <div class="col-md-6">
            Email
        </div>
        <div class="col-md-6 text-right">
            Wagtesttest@test.com
        </div>
    </div>

    <div class="row row-padding">
        <div class="col-md-6">
            <b> Finance Details</b>
        </div>
        <div class="col-md-6 text-right">
            <a routerLink="/payment">Edit</a>
          
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            Finance Amount
        </div>
        <div class="col-md-6 text-right">
            $ 5000
        </div>
    </div>
   
    <div class="row row-padding-md">
        <div class="col-md-12 text-right">
            <div class="spacer row-font-size">Over 24 months </div>
        
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            Repayments from
        </div>
        <div class="col-md-6 text-right">
            $56.15
        </div>
    </div>
    <div class="row row-padding-md">
        <div class="col-md-12 text-right" >
            <div class="spacer row-font-size">Weekly</div>
        </div>
    </div>
    <div class="col-md-12"> 
        <div class="example-button-row">
            <button mat-stroked-button color="success" (click)="handleClick($event)">Apply Now</button>
        </div>
    </div>
 </div>
